[project]
	description = Eclipse Platform UI
[access "refs/heads/*"]
	forgeAuthor = group ldap/eclipse.platform.ui
	push = +force group ldap/eclipse.platform.ui
	label-Code-Review = -2..+2 group ldap/eclipse.platform.ui
	label-IP-Clean = -1..+1 group ldap/eclipse.platform.ui
	label-Verified = -1..+1 group ldap/eclipse.platform.ui
	submit = group ldap/eclipse.platform.ui
	abandon = group ldap/eclipse.platform.ui
	create = group ldap/eclipse.platform.ui
[access "refs/tags/*"]
	pushTag = group ldap/eclipse.platform.ui
	create = group ldap/eclipse.platform.ui
	push = group ldap/eclipse.platform.ui
	pushSignedTag = group ldap/eclipse.platform.ui
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/heads/${username}/*"]
	exclusiveGroupPermissions = create push pushMerge
	create = group ldap/eclipse.platform.ui
	push = +force group ldap/eclipse.platform.ui
	pushMerge = group ldap/eclipse.platform.ui
[access "refs/tags/${username}/*"]
	exclusiveGroupPermissions = create push pushTag pushSignedTag
	create = group ldap/eclipse.platform.ui
	push = +force group ldap/eclipse.platform.ui
	pushTag = +force group ldap/eclipse.platform.ui
	pushSignedTag = group ldap/eclipse.platform.ui
