<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="installationPages" name="%ExtPoint.installationPages" schema="schema/installationPages.exsd"/>
   <extension-point id="systemSummarySections" name="systemSummarySections" schema="schema/systemSummarySections.exsd"/>
   <extension
         point="org.eclipse.e4.ui.about.dialog.installationPages">
      <page
            class="org.eclipse.e4.ui.internal.about.AboutPluginsPage"
            id="PluginPage"
            name="%installationPage.plugins.name">
      </page>
      <page
            class="org.eclipse.e4.ui.internal.about.AboutSystemPage"
            id="SystemPage"
            name="%installationPage.system.name">
      </page>
      <page
            class="org.eclipse.e4.ui.internal.about.AboutFeaturesPage"
            id="FeaturePage"
            name="%installationPage.feature.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.e4.ui.about.dialog.systemSummarySections">
      <section
            class="org.eclipse.e4.ui.internal.about.ConfigurationLogDefaultSection"
            id="logSection"
            sectionTitle="sectionTitle">
      </section>
   </extension>

</plugin>
