#PerspectiveSwitcher {
	eclipse-perspective-keyline-color: #D3D3D3;
}


/**  drag and drop support for toolbars **/

.MToolBar.Draggable {
	handle-image:  url(./dragHandle.png);
}

.MToolControl.Draggable {
	handle-image:  url(./dragHandle.png);
}

.DragFeedback {
	background-color: COLOR-WIDGET-NORMAL-SHADOW;
}

.ModifiedDragFeedback {
	background-color: #A0A000;
}
