<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.e4.core.macros.commands">
      <accept
            id="org.eclipse.e4.ui.macros.toggleRecordMacro"
            recordActivation="false">
      </accept>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.e4.ui.macros.category"
            name="%category.macros.name">
      </category>
      <command
            categoryId="org.eclipse.e4.ui.macros.category"
            defaultHandler="org.eclipse.e4.ui.macros.internal.actions.ToggleMacroRecordAction"
            id="org.eclipse.e4.ui.macros.toggleRecordMacro"
            name="%command.toggle_macro_record.label">
      </command>
      <command
            categoryId="org.eclipse.e4.ui.macros.category"
            defaultHandler="org.eclipse.e4.ui.macros.internal.actions.MacroPlaybackAction"
            id="org.eclipse.e4.ui.macros.macroPlayback"
            name="%command.macro_playback.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.e4.ui.macros.toolbar"
               label="%toolbar.macro.label">
            <command
                  commandId="org.eclipse.e4.ui.macros.toggleRecordMacro"
                  icon="icons/full/dtool16/macro_record.png"
                  label="%command.toggle_macro_record.label"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.e4.ui.macros.macroPlayback"
                  icon="icons/full/dtool16/macro_playback.png"
                  label="%command.macro_playback.name"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>


</plugin>
